Repository jdfalk/ghcommon, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, reusable-workflows, config, go, protobuf, subtitle-processing, webui, scripts, issue-management, examples, frontend, python, tests, dependencies, security

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.1.0
# guid: b2c3d4e5-f6a7-48b9-c0d1-e2f3a4b5c6d7
#
# Pull Request Labeler Configuration for ghcommon, gcommon, and subtitle-manager
# Automatically label pull requests based on changed files or branch names
#
# This configuration uses the v5.0.0 format with breaking changes from v4
# For more information: https://github.com/actions/labeler#breaking-changes-in-v5

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - ".github/**/*.md"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "CONTRIBUTING*"

# GitHub Actions and CI/CD workflows
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

# Reusable workflows (ghcommon specific)
reusable-workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/reusable-*.yml"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.json"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.conf"
          - ".gitignore"
          - ".gitattributes"
          - "Dockerfile*"
          - "docker-compose*.yml"
          - "buf.yaml"
# Go backend changes (gcommon, subtitle-manager)
go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Protobuf changes (gcommon specific)
protobuf:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "proto/**"
          - "buf.yaml"
          - "buf.gen.yaml"
          - "**/*_grpc.pb.go"
          - "**/*.pb.go"

# Subtitle processing (subtitle-manager specific)
subtitle-processing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/subtitle*"
          - "**/srt*"
          - "**/webvtt*"
          - "**/convert*"

# Web UI changes (subtitle-manager)
webui:
  - changed-files:
      - any-glob-to-any-file:
          - "webui/**"
          - "**/*.html"
          - "**/*.css"
          - "**/*.js"
          - "**/*.ts"

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.bash"
          - "**/*.py"
          - "Makefile"
          - "makefile"

# GitHub issue management (ghcommon specific)
issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "**/issue*"
          - "**/unified-issue*"
          - "templates/**"

# Examples and templates
examples:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**"
          - "templates/**"
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Frontend changes
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "**/*.vue"
          - "**/*.html"
          - "**/*.css"
          - "**/*.scss"
          - "**/*.sass"
          - "package*.json"
          - "yarn.lock"
          - "pnpm-lock.yaml"
          - "webui/**"

# Python changes
python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "requirements*.txt"
          - "pyproject.toml"
          - "setup.py"
          - "setup.cfg"
          - "Pipfile*"

# Testing files
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "**/*_test.py"
          - "**/*.test.js"
          - "**/*.test.ts"
          - "**/*.spec.js"
          - "**/*.spec.ts"
          - "test/**"
          - "tests/**"
          - "__tests__/**"

# Scripts and automation (shell and fish scripts)
# (Merged into the earlier 'scripts' key to avoid duplication)
# The following patterns are already included above, so this block is removed.

# Dependencies and package management
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - "package*.json"
          - "yarn.lock"
          - "pnpm-lock.yaml"
          - "requirements*.txt"
          - "Pipfile*"
          - "Cargo.toml"
          - "Cargo.lock"

# Security-related changes
security:
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - ".github/SECURITY.md"
          - "**/*security*"
          - "**/*auth*"
          - "**/*crypt*"

# Breaking changes - simplified
breaking-change:
  - head-branch: "breaking.*change"

# Feature branches
feature:
  - head-branch:
      - "^feature"
      - "^feat"
      - "feature"

# Bug fix branches
bugfix:
  - head-branch:
      - "^fix"
      - "^bugfix"
      - "^hotfix"
      - "fix"

# Release branches
release:
  - head-branch:
      - "^release"
      - "^rel"
      - "release"

# Maintenance and chores
maintenance:
  - head-branch:
      - "^chore"
      - "^maint"
      - "maintenance"
      - "cleanup"

# Refactoring
refactor:
  - head-branch:
      - "^refactor"
      - "refactor"

# Performance improvements
performance:
  - head-branch:
      - "^perf"
      - "performance"
      - "optimize"

# Main branch targeting (for releases)
release-ready:
  - base-branch:
      - "main"
      - "master"

docs: add TOML file header format to general coding instructions
  .github/instructions/general-coding.instructions.md
Labels: documentation

style: improve table formatting for auto-fix support section in README.md
  .github/linters/README.md
Labels: documentation

style: remove redundant header in ruff.toml
  .github/linters/ruff.toml
Labels: config

style: remove redundant build-system section in pyproject.toml
  scripts/copilot-firewall/pyproject.toml
Labels: config, scripts

style: improve environment variable handling in buildah login step
  .github/workflows/reusable-docker-build.yml
Labels: github-actions, reusable-workflows, config

style: enhance permissions section in reusable-docker-build.yml
  .github/workflows/reusable-docker-build.yml
Labels: github-actions, reusable-workflows, config

style: standardize permissions section formatting in reusable-super-linter.yml
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

style: add permissions section to reusable-label-sync.yml
  .github/workflows/reusable-label-sync.yml
Labels: github-actions, reusable-workflows, config

style: add explicit permissions section to reusable workflows
  .github/workflows/reusable-semantic-versioning.yml
  .github/workflows/reusable-unified-issue-management.yml
Labels: github-actions, reusable-workflows, config

chore: add commitlint configuration and update super-linter environment
  .commitlintrc.js
  .github/super-linter.env
  package.json
Labels: config, webui, frontend, dependencies

style: update issues permission to write in sync-labels workflow
  .github/workflows/sync-labels.yml
Labels: github-actions, config

feat: add documentation updates workflow
  .github/workflows/docs-update.yml
Labels: github-actions, config

style: format permissions section and add new validation inputs
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

Implement code changes to enhance functionality and improve performance
  COMMITLINT_SETUP.md
  package-lock.json
Labels: documentation, config, frontend, dependencies

style: update documentation update system to specify section order
  .github/doc-updates/46a9062c-476c-493e-b5e2-11e7c2e20097.json
Labels: config

docs: update documentation with comprehensive enhancements and workflow automation
  .github/doc-updates/processed/2c5b0b59-7162-4cc3-9d17-ec88d98797f4.json
  .github/doc-updates/processed/46a9062c-476c-493e-b5e2-11e7c2e20097.json
  .github/doc-updates/processed/4fe90a74-6604-4826-8e59-a96e2b663b55.json
  .github/doc-updates/processed/b40c5b63-fef0-4900-b48c-eb4aa95584f2.json
Labels: config

style: format code and improve consistency across configuration files docs: update documentation for commitlint setup and README
  .commitlintrc.js
  .devcontainer/devcontainer.json
  .doc-update-stats.json
  .github/linters/.eslintrc.json
  .github/linters/README.md
  .github/workflows/reusable-docker-build.yml
  .github/workflows/reusable-semantic-versioning.yml
  .github/workflows/reusable-unified-issue-management.yml
  COMMITLINT_SETUP.md
  README.md
Labels: documentation, github-actions, reusable-workflows, config, webui, frontend

style: update ruff.toml configuration format for consistency
  .github/linters/ruff.toml
Labels: config

style: reorganize ruff.toml configuration for improved clarity
  .github/linters/ruff.toml
Labels: config

style: reorder imports and enhance exception handling in doc_update_manager.py
  scripts/doc_update_manager.py
Labels: scripts, python

style: add missing permission for commit status updates in workflows
  .github/workflows/issue-management.yml
  .github/workflows/reusable-unified-issue-management.yml
Labels: github-actions, reusable-workflows, config, issue-management

style: enhance Super Linter configuration with logging and output settings
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

style: disable redundant Python linters and unused tools in Super Linter configuration
  .github/super-linter.env
Labels: none

style: update Super Linter configuration to disable unused Python linters and improve report handling
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

style: disable additional unused Rust linters in Super Linter configuration
  .github/super-linter.env
Labels: none

style: disable additional Rust and C++ linters in Super Linter configuration
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

style: refine Super Linter configuration by disabling unused linters and enhancing documentation
  .github/scripts/README.md
  .github/scripts/super-linter-pr-comment.js
  .github/super-linter.env
  .github/workflows/reusable-super-linter.yml
Labels: documentation, github-actions, reusable-workflows, config, webui, frontend

docs: update README.md to add missing line breaks for better readability
  .github/scripts/README.md
Labels: documentation

style: remove unnecessary blank lines in super-linter-pr-comment.js
  .github/scripts/super-linter-pr-comment.js
Labels: webui, frontend

chore: enhance reusable labeler workflow with output configuration and logging
  .github/workflows/reusable-labeler.yml
Labels: github-actions, reusable-workflows, config

chore: add output configuration for labeler workflow completion
  .github/workflows/reusable-labeler.yml
Labels: github-actions, reusable-workflows, config

refactor: simplify Super Linter environment setup and configuration loading
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

feat: add GitHub Projects automation script
  .github/doc-updates/48a262f6-c254-4a3c-aa58-e9915fa5fce8.json
  .github/doc-updates/e0cecd9e-1436-4387-af84-6d9978a394a6.json
  .github/doc-updates/e4a9e431-604e-4292-b72c-4e2be268fbc1.json
  scripts/create-projects.sh
Labels: config, scripts

feat: add GitHub Projects automation script
  .github/doc-updates/48a262f6-c254-4a3c-aa58-e9915fa5fce8.json
  .github/doc-updates/e0cecd9e-1436-4387-af84-6d9978a394a6.json
  .github/doc-updates/e4a9e431-604e-4292-b72c-4e2be268fbc1.json
  scripts/create-projects.sh
Labels: config, scripts

feat: enhance GitHub Projects creation script with authentication checks and project descriptions
  scripts/create-projects.sh
Labels: scripts

feat: implement GitHub Projects automation workflows and documentation
  .github/workflows/add-to-project.yml
  .github/workflows/reusable-add-to-project.yml
  GITHUB_PROJECTS_SETUP.md
  docs/github-projects-automation.md
  scripts/test-project-automation.sh
Labels: documentation, github-actions, reusable-workflows, config, scripts

chore: update file permissions for scripts
  GITHUB_PROJECTS_SETUP.md
  scripts/copilot-firewall/copilot_firewall/__init__.py
  scripts/copilot-firewall/copilot_firewall/__main__.py
  scripts/copilot-firewall/copilot_firewall/main.py
  scripts/copilot-firewall/test_fix.py
  scripts/duplicate_cleanup.py
  scripts/sync_to_repos.py
Labels: documentation, scripts, python

refactor: update Super Linter configuration and workflow settings for improved logging and performance
  .github/super-linter.env
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

fix: resolve github-token input issue in add-to-project workflow
  .github/issue-updates/c39c83b7-67c0-4704-8ca0-75e9b4847129.json
  .github/workflows/reusable-add-to-project.yml
Labels: github-actions, reusable-workflows, config

docs: record automation update
  .github/doc-updates/12036047-e053-41d3-8a0f-7fae139be39f.json
  .github/doc-updates/560025f3-eccc-4095-b470-ab6defa6f7c4.json
  .github/doc-updates/74e0fdd3-98e1-45b3-a97e-fb5d1c6bf7f2.json
  .github/doc-updates/7e7db5a1-f53e-4966-b46d-102db2317339.json
  .github/doc-updates/a85bdc14-4d16-47c2-aa8c-6dcc09553506.json
  .github/doc-updates/b27ac644-19fd-48e6-ad8f-c8161cac606e.json
  .github/doc-updates/c0074aa9-fb4c-45ba-abfb-ac7f30276f45.json
  .github/doc-updates/dddb5afe-61c8-4725-a505-3b1ccdaf70e6.json
  .github/doc-updates/e08c7b00-a43e-4787-b3a7-9d877ba9768e.json
  .github/doc-updates/f4b851f1-5b9c-434d-8b90-edf60f835c29.json
  .github/issue-updates/8417d9dc-7000-47e7-85e8-463821a29a9d.json
  .github/workflows/add-to-project.yml
  .github/workflows/reusable-add-to-project.yml
Labels: github-actions, reusable-workflows, config
