Repository jdfalk/ghcommon, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, reusable-workflows, config, go, protobuf, subtitle-processing, webui, scripts, issue-management, examples, frontend, python, tests, dependencies, security

docs: record automation update
  .github/doc-updates/12036047-e053-41d3-8a0f-7fae139be39f.json
  .github/doc-updates/560025f3-eccc-4095-b470-ab6defa6f7c4.json
  .github/doc-updates/74e0fdd3-98e1-45b3-a97e-fb5d1c6bf7f2.json
  .github/doc-updates/7e7db5a1-f53e-4966-b46d-102db2317339.json
  .github/doc-updates/a85bdc14-4d16-47c2-aa8c-6dcc09553506.json
  .github/doc-updates/b27ac644-19fd-48e6-ad8f-c8161cac606e.json
  .github/doc-updates/c0074aa9-fb4c-45ba-abfb-ac7f30276f45.json
  .github/doc-updates/dddb5afe-61c8-4725-a505-3b1ccdaf70e6.json
  .github/doc-updates/e08c7b00-a43e-4787-b3a7-9d877ba9768e.json
  .github/doc-updates/f4b851f1-5b9c-434d-8b90-edf60f835c29.json
  .github/issue-updates/8417d9dc-7000-47e7-85e8-463821a29a9d.json
  .github/workflows/add-to-project.yml
  .github/workflows/reusable-add-to-project.yml
Labels: github-actions, reusable-workflows, config

feat(workflows): improve AI rebase workflow resiliency
  .github/doc-updates/342e88a0-97b2-4253-98a0-59ded0a882d3.json
  .github/doc-updates/5b98f85c-5a87-4839-b017-c975610d9a04.json
  .github/doc-updates/cd196697-1030-4f9a-8ecc-fbc8bea40ccf.json
  .github/issue-updates/ce248278-2fac-4e79-9c0e-3f738c872781.json
  .github/workflows/reusable-ai-rebase.yml
Labels: github-actions, reusable-workflows, config

feat(workflows): improve AI rebase workflow resiliency
  .github/doc-updates/342e88a0-97b2-4253-98a0-59ded0a882d3.json
  .github/doc-updates/5b98f85c-5a87-4839-b017-c975610d9a04.json
  .github/doc-updates/cd196697-1030-4f9a-8ecc-fbc8bea40ccf.json
  .github/issue-updates/ce248278-2fac-4e79-9c0e-3f738c872781.json
  .github/workflows/reusable-ai-rebase.yml
Labels: github-actions, reusable-workflows, config

feat(workflows): add reusable add-to-project workflow
  .github/workflows/reusable-add-to-project.yml
Labels: github-actions, reusable-workflows, config

chore: remove reusable add-to-project workflow file
  .github/workflows/reusable-add-to-project.yml
Labels: github-actions, reusable-workflows, config

style: standardize string formatting in super-linter PR comment script
  .github/scripts/super-linter-pr-comment.js
Labels: webui, frontend

feat(workflows): add fix merge conflicts workflow and enhance AI rebase process
  .github/workflows/fix-merge-conflicts.yml
  .github/workflows/reusable-ai-rebase.yml
Labels: github-actions, reusable-workflows, config

docs: update GitHub Projects automation documentation with formatting improvements
  docs/github-projects-automation.md
Labels: documentation

fix: add missing newline at end of JSON file
  .doc-update-stats.json
Labels: config

docs: add AI Rebase Workflow Fixes documentation and update README with automation notes
  AI_REBASE_WORKFLOW_FIXES.md
  README.md
Labels: documentation

docs: update pull request description guidelines to version 3.0.0 with enhanced structure and examples
  .github/pull-request-descriptions.md
Labels: documentation

chore: remove obsolete project automation scripts
  scripts/create-projects.sh
  scripts/test-project-automation.sh
Labels: scripts

docs: add README for Unified GitHub Project Manager with usage instructions and features
  scripts/README-unified-project-manager.md
Labels: documentation, scripts

feat: implement Unified GitHub Project Manager v2 with multi-repository support, project creation, label management, and workflow automation
  scripts/unified_github_project_manager_v2.py
Labels: scripts, python

docs(commit-messages): update commit message guidelines to version 3.0.0 (#456)
  .github/commit-messages.md
Labels: documentation

feat(cleanup-summary): implement cleanup summary script (#123)
  scripts/cleanup-summary.py
Labels: scripts, python

chore(docs): update commit message guidelines for clarity (#999)
  scripts/unified_github_project_manager.py
Labels: scripts, python

chore(project): remove unified GitHub project manager script
  scripts/unified_github_project_manager.py
Labels: scripts, python

ci(stale): introduce stale issue workflows
  .github/doc-updates/4cf31955-2ea0-4781-a0a6-a1119b6a4812.json
  .github/doc-updates/5f5c45b5-4c04-431b-b4c9-f68325930a17.json
  .github/doc-updates/9b08cc14-42a9-4864-976d-caf00469f6cd.json
  .github/issue-updates/91db43ce-0b44-4b1d-83dc-59200ef9699f.json
  .github/workflows/reusable-stale.yml
  .github/workflows/stale.yml
Labels: github-actions, reusable-workflows, config

ci(ai-rebase): use prompt files for ai inference (#0)
  .github/doc-updates/1b20017d-a435-41f5-80b8-9ce0ccf1c7a7.json
  .github/doc-updates/31bbebf0-8269-47c5-a156-66049b953198.json
  .github/doc-updates/7029d2da-e238-43f9-8a2c-9a267a03b446.json
  .github/workflows/reusable-ai-rebase.yml
Labels: github-actions, reusable-workflows, config

ci(ai-rebase): use prompt files for ai inference (#0)
  .github/doc-updates/1b20017d-a435-41f5-80b8-9ce0ccf1c7a7.json
  .github/doc-updates/31bbebf0-8269-47c5-a156-66049b953198.json
  .github/doc-updates/7029d2da-e238-43f9-8a2c-9a267a03b446.json
  .github/workflows/reusable-ai-rebase.yml
Labels: github-actions, reusable-workflows, config

ci(stale): introduce stale issue workflows
  .github/doc-updates/4cf31955-2ea0-4781-a0a6-a1119b6a4812.json
  .github/doc-updates/5f5c45b5-4c04-431b-b4c9-f68325930a17.json
  .github/doc-updates/9b08cc14-42a9-4864-976d-caf00469f6cd.json
  .github/issue-updates/91db43ce-0b44-4b1d-83dc-59200ef9699f.json
  .github/workflows/reusable-stale.yml
  .github/workflows/stale.yml
Labels: github-actions, reusable-workflows, config

feat(labels): enhance label management with update functionality (#123)
  scripts/unified_github_project_manager_v2.py
Labels: scripts, python

fix(workflow): update AI inference action version in rebase workflow
  .github/workflows/reusable-ai-rebase.yml
  scripts/unified_github_project_manager_v2.py
Labels: github-actions, reusable-workflows, config, scripts, python

refactor(workflow): update AI prompt formatting in rebase workflow
  .github/workflows/reusable-ai-rebase.yml
Labels: github-actions, reusable-workflows, config

chore(workflow): update permissions in fix-merge-conflicts.yml (#456)
  .github/workflows/fix-merge-conflicts.yml
Labels: github-actions, config

feat(workflow): enhance conflict information handling in AI rebase (#123)
  .github/workflows/reusable-ai-rebase.yml
Labels: github-actions, reusable-workflows, config

feat(workflow): enhance AI prompt generation for conflict resolution (#123)
  .github/workflows/reusable-ai-rebase.yml
Labels: github-actions, reusable-workflows, config

fix(workflow): remove hardcoded prompts for AI inference (#issue-number)
  .github/workflows/reusable-ai-rebase.yml
Labels: github-actions, reusable-workflows, config

feat(codeql): add centralized configuration (#543)
  .github/doc-updates/24a5c545-9458-4458-8118-255f89eb7345.json
  .github/doc-updates/4d367fe3-52e2-48b3-9274-c26253d578a9.json
  .github/doc-updates/9511640d-4599-4f19-8737-fff269548087.json
  templates/codeql/advanced-codeql.yml
Labels: config, issue-management, examples

feat(codeql): add centralized configuration (#543)
  .github/doc-updates/24a5c545-9458-4458-8118-255f89eb7345.json
  .github/doc-updates/4d367fe3-52e2-48b3-9274-c26253d578a9.json
  .github/doc-updates/9511640d-4599-4f19-8737-fff269548087.json
  templates/codeql/advanced-codeql.yml
Labels: config, issue-management, examples

feat(ai-rebase): use shared system prompt
  .github/doc-updates/4f7d15ef-550f-420e-9010-d74a2e6326a7.json
  .github/doc-updates/b5ba519c-7154-4766-9dd5-2d06ab1b70a2.json
  .github/doc-updates/d625d3a0-089e-4647-a252-5056f25b5ade.json
  .github/prompts/ai-rebase-system.prompt.md
  .github/workflows/reusable-ai-rebase.yml
Labels: documentation, github-actions, reusable-workflows, config

feat(ai-rebase): use shared system prompt
  .github/doc-updates/4f7d15ef-550f-420e-9010-d74a2e6326a7.json
  .github/doc-updates/b5ba519c-7154-4766-9dd5-2d06ab1b70a2.json
  .github/doc-updates/d625d3a0-089e-4647-a252-5056f25b5ade.json
  .github/prompts/ai-rebase-system.prompt.md
  .github/workflows/reusable-ai-rebase.yml
Labels: documentation, github-actions, reusable-workflows, config

feat: Update documentation and workflows
  .doc-update-stats.json
  .github/commit-messages.md
  .github/prompts/ai-rebase-system.prompt.md
  .github/pull-request-descriptions.md
  .github/workflows/reusable-stale.yml
  .github/workflows/stale.yml
  README.md
  docs/github-projects-automation.md
  templates/codeql/advanced-codeql.yml
Labels: documentation, github-actions, reusable-workflows, config, issue-management, examples

chore(docs): update version number in commit message guidelines
  .github/commit-messages.md
Labels: documentation

docs(instructions): update versioning and documentation update requirements
  .github/instructions/general-coding.instructions.md
  .github/pull-request-descriptions.md
Labels: documentation

Refactor instruction files to standardize headers and update applyTo patterns
  .github/instructions/general-coding.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/html-css.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/json.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/shell.instructions.md
  .github/instructions/typescript.instructions.md
Labels: documentation

feat: Introduce intelligent sync workflow and script for modular .github structure
  .github/workflows/intelligent-sync-to-repos.yml
  .github/workflows/sync-to-repos.yml
  scripts/intelligent_sync_to_repos.py
  scripts/sync_to_repos.py
Labels: github-actions, config, scripts, python

feat(sync): enhance dry-run functionality for syncing process
  scripts/intelligent_sync_to_repos.py
Labels: scripts, python

feat(sync): add linter configuration files to managed sync list
  scripts/intelligent_sync_to_repos.py
Labels: scripts, python

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.1.0
# guid: b2c3d4e5-f6a7-48b9-c0d1-e2f3a4b5c6d7
#
# Pull Request Labeler Configuration for ghcommon, gcommon, and subtitle-manager
# Automatically label pull requests based on changed files or branch names
#
# This configuration uses the v5.0.0 format with breaking changes from v4
# For more information: https://github.com/actions/labeler#breaking-changes-in-v5

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - ".github/**/*.md"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "CONTRIBUTING*"

# GitHub Actions and CI/CD workflows
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

# Reusable workflows (ghcommon specific)
reusable-workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/reusable-*.yml"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.json"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.conf"
          - ".gitignore"
          - ".gitattributes"
          - "Dockerfile*"
          - "docker-compose*.yml"
          - "buf.yaml"
# Go backend changes (gcommon, subtitle-manager)
go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Protobuf changes (gcommon specific)
protobuf:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "proto/**"
          - "buf.yaml"
          - "buf.gen.yaml"
          - "**/*_grpc.pb.go"
          - "**/*.pb.go"

# Subtitle processing (subtitle-manager specific)
subtitle-processing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/subtitle*"
          - "**/srt*"
          - "**/webvtt*"
          - "**/convert*"

# Web UI changes (subtitle-manager)
webui:
  - changed-files:
      - any-glob-to-any-file:
          - "webui/**"
          - "**/*.html"
          - "**/*.css"
          - "**/*.js"
          - "**/*.ts"

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.bash"
          - "**/*.py"
          - "Makefile"
          - "makefile"

# GitHub issue management (ghcommon specific)
issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "**/issue*"
          - "**/unified-issue*"
          - "templates/**"

# Examples and templates
examples:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**"
          - "templates/**"
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Frontend changes
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "**/*.vue"
          - "**/*.html"
          - "**/*.css"
          - "**/*.scss"
          - "**/*.sass"
          - "package*.json"
          - "yarn.lock"
          - "pnpm-lock.yaml"
          - "webui/**"

# Python changes
python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "requirements*.txt"
          - "pyproject.toml"
          - "setup.py"
          - "setup.cfg"
          - "Pipfile*"

# Testing files
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "**/*_test.py"
          - "**/*.test.js"
          - "**/*.test.ts"
          - "**/*.spec.js"
          - "**/*.spec.ts"
          - "test/**"
          - "tests/**"
          - "__tests__/**"

# Scripts and automation (shell and fish scripts)
# (Merged into the earlier 'scripts' key to avoid duplication)
# The following patterns are already included above, so this block is removed.

# Dependencies and package management
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - "package*.json"
          - "yarn.lock"
          - "pnpm-lock.yaml"
          - "requirements*.txt"
          - "Pipfile*"
          - "Cargo.toml"
          - "Cargo.lock"

# Security-related changes
security:
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - ".github/SECURITY.md"
          - "**/*security*"
          - "**/*auth*"
          - "**/*crypt*"

# Breaking changes - simplified
breaking-change:
  - head-branch: "breaking.*change"

# Feature branches
feature:
  - head-branch:
      - "^feature"
      - "^feat"
      - "feature"

# Bug fix branches
bugfix:
  - head-branch:
      - "^fix"
      - "^bugfix"
      - "^hotfix"
      - "fix"

# Release branches
release:
  - head-branch:
      - "^release"
      - "^rel"
      - "release"

# Maintenance and chores
maintenance:
  - head-branch:
      - "^chore"
      - "^maint"
      - "maintenance"
      - "cleanup"

# Refactoring
refactor:
  - head-branch:
      - "^refactor"
      - "refactor"

# Performance improvements
performance:
  - head-branch:
      - "^perf"
      - "performance"
      - "optimize"

# Main branch targeting (for releases)
release-ready:
  - base-branch:
      - "main"
      - "master"
