Repository jdfalk/ghcommon, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, reusable-workflows, config, go, protobuf, subtitle-processing, webui, scripts, issue-management, examples, frontend, python, tests, dependencies, security

chore: add permissions for pull request labeler workflow
  examples/workflows/pr-labeler-example.yml
Labels: config, examples

chore: update permissions for issues in pull request labeler workflow
  examples/pr-labler.yml
Labels: config, examples

feat: enhance documentation update scripts with new features and options
  scripts/create-doc-update.sh
  scripts/doc_update_manager.py
Labels: scripts, python

fix: improve validation and processing of documentation update files
  .github/workflows/reusable-docs-update.yml
Labels: github-actions, reusable-workflows, config

style: format code for consistency and readability
  scripts/create-doc-update.sh
  scripts/doc_update_manager.py
Labels: scripts, python

feat: implement comprehensive documentation update system with automated workflows
  .github/instructions/general-coding.instructions.md
  docs/documentation-updates.md
Labels: documentation

style: update code block formatting in documentation
  docs/documentation-updates.md
Labels: documentation

feat: enhance documentation update system with new JSON structure and automated workflows
  .doc-update-stats.json
  .github/doc-updates/2c5b0b59-7162-4cc3-9d17-ec88d98797f4.json
  .github/doc-updates/46a9062c-476c-493e-b5e2-11e7c2e20097.json
  .github/doc-updates/4fe90a74-6604-4826-8e59-a96e2b663b55.json
  .github/doc-updates/b40c5b63-fef0-4900-b48c-eb4aa95584f2.json
  .github/instructions/general-coding.instructions.md
  .github/workflows/reusable-docs-update.yml
  .github/workflows/reusable-unified-issue-management.yml
  docs/documentation-updates.md
Labels: documentation, github-actions, reusable-workflows, config

fix: update repository-projects permission to allow adding items to projects
  .github/workflows/issue-management.yml
Labels: github-actions, config, issue-management

fix: update repository-projects permission to allow adding items to projects
  examples/workflows/issue-management-basic.yml
Labels: config, issue-management, examples

fix: update repository-projects permission to allow adding items to projects
  examples/workflows/issue-management-advanced.yml
Labels: config, issue-management, examples

feat: add reusable semantic versioning workflow
  .github/workflows/reusable-semantic-versioning.yml
Labels: github-actions, reusable-workflows, config

fix: update workflow to use reusable semantic versioning template
  templates/workflows/container-only.yml
  templates/workflows/library-release.yml
Labels: config, issue-management, examples

docs: update workflow references in documentation
  README.md
  TECHNICAL_ANALYSIS_AND_ROADMAP.md
Labels: documentation

feat: enhance reusable CI/CD workflows with comprehensive linting and documentation updates
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

fix: remove unused JS/TS and Go lint steps from CI workflow
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

feat: add Super Linter configuration file with comprehensive settings
  .github/super-linter.env
Labels: none

fix: update semantic versioning workflow reference to reusable version
  .github/update-copilot-instructions.sh
Labels: scripts

feat: enhance CI/CD workflows with super linter integration and detailed documentation updates
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-docs-update.yml
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

feat: add comprehensive linter configurations for various languages
  .github/linters/.eslintrc.json
  .github/linters/.markdownlint.json
  .github/linters/.pylintrc
  .github/linters/.python-black
  .github/linters/.stylelintrc.json
  .github/linters/.yaml-lint.yml
  .github/linters/ruff.toml
  .github/super-linter.env
  .github/workflows/ci.yml
Labels: github-actions, config

fix: update Super Linter environment variable setup for improved security and clarity
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

feat: update linter configurations and add comprehensive README documentation
  .github/linters/.eslintrc.json
  .github/linters/.stylelintrc.json
  .github/linters/.yaml-lint.yml
  .github/linters/README.md
Labels: documentation, config

feat: add Super Linter example workflow configuration
  examples/workflows/super-linter-example.yml
Labels: config, examples

docs: add reusable-super-linter workflow to README
  README.md
Labels: documentation

fix: simplify environment variable usage in sync workflow
  .github/workflows/sync-to-repos.yml
Labels: github-actions, config

fix: improve environment variable handling in AI rebase workflow
  .github/workflows/reusable-ai-rebase.yml
Labels: github-actions, reusable-workflows, config

feat: add auto-fix and commit options to Super Linter workflow
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

feat: enable auto-fix settings for supported linters in Super Linter configuration
  .github/super-linter.env
Labels: none

fix: update semantic-release config to use inputs for tag prefix and version files
  .github/workflows/reusable-semantic-versioning.yml
Labels: github-actions, reusable-workflows, config

fix: improve environment variable usage in reusable-docs-update workflow
  .github/workflows/reusable-docs-update.yml
Labels: github-actions, reusable-workflows, config

feat: enable auto-fix and commit options in reusable CI/CD workflow
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

fix: update permissions for auto-committing linting fixes
  .github/workflows/ci.yml
Labels: github-actions, config

fix: update permissions and enable auto-commit for linting fixes
  examples/workflows/super-linter-example.yml
Labels: config, examples

fix: update configuration file validation to use environment variable
  .github/workflows/reusable-label-sync.yml
Labels: github-actions, reusable-workflows, config

docs: update README.md to include auto-fix support details and configuration
  .github/linters/README.md
Labels: documentation

style: format YAML permissions and job configurations for consistency
  examples/workflows/super-linter-example.yml
Labels: config, examples

style: adjust formatting of YAML permissions and git commands for consistency
  .github/workflows/reusable-super-linter.yml
Labels: github-actions, reusable-workflows, config

fix: update repository list preparation to use environment variables
  .github/workflows/reusable-label-sync.yml
Labels: github-actions, reusable-workflows, config

fix: refactor metadata generation to use environment variables for improved clarity
  .github/workflows/reusable-docker-build.yml
Labels: github-actions, reusable-workflows, config

style: adjust comment formatting for consistency in CI workflow
  .github/workflows/ci.yml
Labels: github-actions, config

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.1.0
# guid: b2c3d4e5-f6a7-48b9-c0d1-e2f3a4b5c6d7
#
# Pull Request Labeler Configuration for ghcommon, gcommon, and subtitle-manager
# Automatically label pull requests based on changed files or branch names
#
# This configuration uses the v5.0.0 format with breaking changes from v4
# For more information: https://github.com/actions/labeler#breaking-changes-in-v5

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - ".github/**/*.md"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "CONTRIBUTING*"

# GitHub Actions and CI/CD workflows
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

# Reusable workflows (ghcommon specific)
reusable-workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/reusable-*.yml"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.json"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.conf"
          - ".gitignore"
          - ".gitattributes"
          - "Dockerfile*"
          - "docker-compose*.yml"
          - "buf.yaml"
# Go backend changes (gcommon, subtitle-manager)
go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Protobuf changes (gcommon specific)
protobuf:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "proto/**"
          - "buf.yaml"
          - "buf.gen.yaml"
          - "**/*_grpc.pb.go"
          - "**/*.pb.go"

# Subtitle processing (subtitle-manager specific)
subtitle-processing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/subtitle*"
          - "**/srt*"
          - "**/webvtt*"
          - "**/convert*"

# Web UI changes (subtitle-manager)
webui:
  - changed-files:
      - any-glob-to-any-file:
          - "webui/**"
          - "**/*.html"
          - "**/*.css"
          - "**/*.js"
          - "**/*.ts"

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.bash"
          - "**/*.py"
          - "Makefile"
          - "makefile"

# GitHub issue management (ghcommon specific)
issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "**/issue*"
          - "**/unified-issue*"
          - "templates/**"

# Examples and templates
examples:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**"
          - "templates/**"
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Frontend changes
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "**/*.vue"
          - "**/*.html"
          - "**/*.css"
          - "**/*.scss"
          - "**/*.sass"
          - "package*.json"
          - "yarn.lock"
          - "pnpm-lock.yaml"
          - "webui/**"

# Python changes
python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "requirements*.txt"
          - "pyproject.toml"
          - "setup.py"
          - "setup.cfg"
          - "Pipfile*"

# Testing files
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "**/*_test.py"
          - "**/*.test.js"
          - "**/*.test.ts"
          - "**/*.spec.js"
          - "**/*.spec.ts"
          - "test/**"
          - "tests/**"
          - "__tests__/**"

# Scripts and automation (shell and fish scripts)
# (Merged into the earlier 'scripts' key to avoid duplication)
# The following patterns are already included above, so this block is removed.

# Dependencies and package management
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - "package*.json"
          - "yarn.lock"
          - "pnpm-lock.yaml"
          - "requirements*.txt"
          - "Pipfile*"
          - "Cargo.toml"
          - "Cargo.lock"

# Security-related changes
security:
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - ".github/SECURITY.md"
          - "**/*security*"
          - "**/*auth*"
          - "**/*crypt*"

# Breaking changes - simplified
breaking-change:
  - head-branch: "breaking.*change"

# Feature branches
feature:
  - head-branch:
      - "^feature"
      - "^feat"
      - "feature"

# Bug fix branches
bugfix:
  - head-branch:
      - "^fix"
      - "^bugfix"
      - "^hotfix"
      - "fix"

# Release branches
release:
  - head-branch:
      - "^release"
      - "^rel"
      - "release"

# Maintenance and chores
maintenance:
  - head-branch:
      - "^chore"
      - "^maint"
      - "maintenance"
      - "cleanup"

# Refactoring
refactor:
  - head-branch:
      - "^refactor"
      - "refactor"

# Performance improvements
performance:
  - head-branch:
      - "^perf"
      - "performance"
      - "optimize"

# Main branch targeting (for releases)
release-ready:
  - base-branch:
      - "main"
      - "master"
