Repository jdfalk/ghcommon, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, reusable-workflows, config, go, protobuf, subtitle-processing, webui, scripts, issue-management, examples, frontend, python, tests, dependencies, security

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.1.0
# guid: b2c3d4e5-f6a7-48b9-c0d1-e2f3a4b5c6d7
#
# Pull Request Labeler Configuration for ghcommon, gcommon, and subtitle-manager
# Automatically label pull requests based on changed files or branch names
#
# This configuration uses the v5.0.0 format with breaking changes from v4
# For more information: https://github.com/actions/labeler#breaking-changes-in-v5

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - ".github/**/*.md"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "CONTRIBUTING*"

# GitHub Actions and CI/CD workflows
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

# Reusable workflows (ghcommon specific)
reusable-workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/reusable-*.yml"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.json"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.conf"
          - ".gitignore"
          - ".gitattributes"
          - "Dockerfile*"
          - "docker-compose*.yml"
          - "buf.yaml"
# Go backend changes (gcommon, subtitle-manager)
go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Protobuf changes (gcommon specific)
protobuf:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "proto/**"
          - "buf.yaml"
          - "buf.gen.yaml"
          - "**/*_grpc.pb.go"
          - "**/*.pb.go"

# Subtitle processing (subtitle-manager specific)
subtitle-processing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/subtitle*"
          - "**/srt*"
          - "**/webvtt*"
          - "**/convert*"

# Web UI changes (subtitle-manager)
webui:
  - changed-files:
      - any-glob-to-any-file:
          - "webui/**"
          - "**/*.html"
          - "**/*.css"
          - "**/*.js"
          - "**/*.ts"

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.bash"
          - "**/*.py"
          - "Makefile"
          - "makefile"

# GitHub issue management (ghcommon specific)
issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "**/issue*"
          - "**/unified-issue*"
          - "templates/**"

# Examples and templates
examples:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**"
          - "templates/**"
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Frontend changes
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "**/*.vue"
          - "**/*.html"
          - "**/*.css"
          - "**/*.scss"
          - "**/*.sass"
          - "package*.json"
          - "yarn.lock"
          - "pnpm-lock.yaml"
          - "webui/**"

# Python changes
python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "requirements*.txt"
          - "pyproject.toml"
          - "setup.py"
          - "setup.cfg"
          - "Pipfile*"

# Testing files
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "**/*_test.py"
          - "**/*.test.js"
          - "**/*.test.ts"
          - "**/*.spec.js"
          - "**/*.spec.ts"
          - "test/**"
          - "tests/**"
          - "__tests__/**"

# Scripts and automation (shell and fish scripts)
# (Merged into the earlier 'scripts' key to avoid duplication)
# The following patterns are already included above, so this block is removed.

# Dependencies and package management
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - "package*.json"
          - "yarn.lock"
          - "pnpm-lock.yaml"
          - "requirements*.txt"
          - "Pipfile*"
          - "Cargo.toml"
          - "Cargo.lock"

# Security-related changes
security:
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - ".github/SECURITY.md"
          - "**/*security*"
          - "**/*auth*"
          - "**/*crypt*"

# Breaking changes - simplified
breaking-change:
  - head-branch: "breaking.*change"

# Feature branches
feature:
  - head-branch:
      - "^feature"
      - "^feat"
      - "feature"

# Bug fix branches
bugfix:
  - head-branch:
      - "^fix"
      - "^bugfix"
      - "^hotfix"
      - "fix"

# Release branches
release:
  - head-branch:
      - "^release"
      - "^rel"
      - "release"

# Maintenance and chores
maintenance:
  - head-branch:
      - "^chore"
      - "^maint"
      - "maintenance"
      - "cleanup"

# Refactoring
refactor:
  - head-branch:
      - "^refactor"
      - "refactor"

# Performance improvements
performance:
  - head-branch:
      - "^perf"
      - "performance"
      - "optimize"

# Main branch targeting (for releases)
release-ready:
  - base-branch:
      - "main"
      - "master"

feat(docs): continue updates when some fail
  .github/doc-updates/processed/12036047-e053-41d3-8a0f-7fae139be39f.json
  .github/doc-updates/processed/3a0e884f-520b-45f3-924f-de56e45cd8d7.json
  .github/doc-updates/processed/45d9a412-5f0e-43e4-b6ea-ed597a601f36.json
  .github/doc-updates/processed/48a262f6-c254-4a3c-aa58-e9915fa5fce8.json
  .github/doc-updates/processed/560025f3-eccc-4095-b470-ab6defa6f7c4.json
  .github/doc-updates/processed/74e0fdd3-98e1-45b3-a97e-fb5d1c6bf7f2.json
  .github/doc-updates/processed/786022d9-d123-4631-9177-7118c446e316.json
  .github/doc-updates/processed/7e7db5a1-f53e-4966-b46d-102db2317339.json
  .github/doc-updates/processed/a85bdc14-4d16-47c2-aa8c-6dcc09553506.json
  .github/doc-updates/processed/b27ac644-19fd-48e6-ad8f-c8161cac606e.json
  .github/doc-updates/processed/c0074aa9-fb4c-45ba-abfb-ac7f30276f45.json
  .github/doc-updates/processed/dddb5afe-61c8-4725-a505-3b1ccdaf70e6.json
  .github/doc-updates/processed/e08c7b00-a43e-4787-b3a7-9d877ba9768e.json
  .github/doc-updates/processed/e0cecd9e-1436-4387-af84-6d9978a394a6.json
  .github/doc-updates/processed/e4a9e431-604e-4292-b72c-4e2be268fbc1.json
  .github/doc-updates/processed/f4b851f1-5b9c-434d-8b90-edf60f835c29.json
  .github/workflows/reusable-docs-update.yml
  CHANGELOG.md
  GITHUB_PROJECTS_SETUP.md
  README.md
  TODO.md
  doc_update_manager.py
  docs/github-projects-automation.md
  scripts/create-doc-update.sh
  scripts/doc_update_manager.py
Labels: documentation, github-actions, reusable-workflows, config, scripts, python

chore(linter): update stylelint configuration and super-linter environment
  .github/linters/.stylelintrc.json
  .github/super-linter.env
Labels: config

feat(docs): continue updates when some fail
  .github/doc-updates/processed/12036047-e053-41d3-8a0f-7fae139be39f.json
  .github/doc-updates/processed/3a0e884f-520b-45f3-924f-de56e45cd8d7.json
  .github/doc-updates/processed/45d9a412-5f0e-43e4-b6ea-ed597a601f36.json
  .github/doc-updates/processed/48a262f6-c254-4a3c-aa58-e9915fa5fce8.json
  .github/doc-updates/processed/560025f3-eccc-4095-b470-ab6defa6f7c4.json
  .github/doc-updates/processed/74e0fdd3-98e1-45b3-a97e-fb5d1c6bf7f2.json
  .github/doc-updates/processed/786022d9-d123-4631-9177-7118c446e316.json
  .github/doc-updates/processed/7e7db5a1-f53e-4966-b46d-102db2317339.json
  .github/doc-updates/processed/a85bdc14-4d16-47c2-aa8c-6dcc09553506.json
  .github/doc-updates/processed/b27ac644-19fd-48e6-ad8f-c8161cac606e.json
  .github/doc-updates/processed/c0074aa9-fb4c-45ba-abfb-ac7f30276f45.json
  .github/doc-updates/processed/dddb5afe-61c8-4725-a505-3b1ccdaf70e6.json
  .github/doc-updates/processed/e08c7b00-a43e-4787-b3a7-9d877ba9768e.json
  .github/doc-updates/processed/e0cecd9e-1436-4387-af84-6d9978a394a6.json
  .github/doc-updates/processed/e4a9e431-604e-4292-b72c-4e2be268fbc1.json
  .github/doc-updates/processed/f4b851f1-5b9c-434d-8b90-edf60f835c29.json
  .github/workflows/reusable-docs-update.yml
  CHANGELOG.md
  GITHUB_PROJECTS_SETUP.md
  README.md
  TODO.md
  doc_update_manager.py
  docs/github-projects-automation.md
  scripts/create-doc-update.sh
  scripts/doc_update_manager.py
Labels: documentation, github-actions, reusable-workflows, config, scripts, python

chore(linter): update version and configuration keys
  .github/super-linter.env
Labels: none

chore(linter): update version and configuration file paths
  .github/super-linter.env
Labels: none

feat(prompts): add AI rebase context template
  .github/prompts/ai-rebase-context.template.md
Labels: documentation

chore: Update AI rebase system and context files for improved conflict resolution and repository context
  .github/prompts/ai-rebase-context.md
  .github/prompts/ai-rebase-system.prompt.md
  .github/workflows/reusable-ai-rebase.yml
Labels: documentation, github-actions, reusable-workflows, config

feat(labels): enhance label management functionality
  scripts/unified_github_project_manager_v2.py
Labels: scripts, python

feat(labels): add label comparison function
  scripts/unified_github_project_manager_v2.py
Labels: scripts, python

feat(github): add repository linking check in project manager
  .github/commit-messages.md
  scripts/unified_github_project_manager_v2.py
Labels: documentation, scripts, python

feat: update commit message guidelines and improve project manager script
  .github/commit-messages.md
  scripts/unified_github_project_manager_v2.py
Labels: documentation, scripts, python
