Repository jdfalk/ghcommon, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, reusable-workflows, config, go, protobuf, subtitle-processing, webui, scripts, issue-management, examples, frontend, python, tests, dependencies, security

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.1.0
# guid: b2c3d4e5-f6a7-48b9-c0d1-e2f3a4b5c6d7
#
# Pull Request Labeler Configuration for ghcommon, gcommon, and subtitle-manager
# Automatically label pull requests based on changed files or branch names
#
# This configuration uses the v5.0.0 format with breaking changes from v4
# For more information: https://github.com/actions/labeler#breaking-changes-in-v5

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - ".github/**/*.md"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "CONTRIBUTING*"

# GitHub Actions and CI/CD workflows
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

# Reusable workflows (ghcommon specific)
reusable-workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/reusable-*.yml"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.json"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.conf"
          - ".gitignore"
          - ".gitattributes"
          - "Dockerfile*"
          - "docker-compose*.yml"
          - "buf.yaml"
# Go backend changes (gcommon, subtitle-manager)
go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Protobuf changes (gcommon specific)
protobuf:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "proto/**"
          - "buf.yaml"
          - "buf.gen.yaml"
          - "**/*_grpc.pb.go"
          - "**/*.pb.go"

# Subtitle processing (subtitle-manager specific)
subtitle-processing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/subtitle*"
          - "**/srt*"
          - "**/webvtt*"
          - "**/convert*"

# Web UI changes (subtitle-manager)
webui:
  - changed-files:
      - any-glob-to-any-file:
          - "webui/**"
          - "**/*.html"
          - "**/*.css"
          - "**/*.js"
          - "**/*.ts"

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.bash"
          - "**/*.py"
          - "Makefile"
          - "makefile"

# GitHub issue management (ghcommon specific)
issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "**/issue*"
          - "**/unified-issue*"
          - "templates/**"

# Examples and templates
examples:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**"
          - "templates/**"
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Frontend changes
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "**/*.vue"
          - "**/*.html"
          - "**/*.css"
          - "**/*.scss"
          - "**/*.sass"
          - "package*.json"
          - "yarn.lock"
          - "pnpm-lock.yaml"
          - "webui/**"

# Python changes
python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "requirements*.txt"
          - "pyproject.toml"
          - "setup.py"
          - "setup.cfg"
          - "Pipfile*"

# Testing files
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "**/*_test.py"
          - "**/*.test.js"
          - "**/*.test.ts"
          - "**/*.spec.js"
          - "**/*.spec.ts"
          - "test/**"
          - "tests/**"
          - "__tests__/**"

# Scripts and automation (shell and fish scripts)
# (Merged into the earlier 'scripts' key to avoid duplication)
# The following patterns are already included above, so this block is removed.

# Dependencies and package management
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - "package*.json"
          - "yarn.lock"
          - "pnpm-lock.yaml"
          - "requirements*.txt"
          - "Pipfile*"
          - "Cargo.toml"
          - "Cargo.lock"

# Security-related changes
security:
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - ".github/SECURITY.md"
          - "**/*security*"
          - "**/*auth*"
          - "**/*crypt*"

# Breaking changes - simplified
breaking-change:
  - head-branch: "breaking.*change"

# Feature branches
feature:
  - head-branch:
      - "^feature"
      - "^feat"
      - "feature"

# Bug fix branches
bugfix:
  - head-branch:
      - "^fix"
      - "^bugfix"
      - "^hotfix"
      - "fix"

# Release branches
release:
  - head-branch:
      - "^release"
      - "^rel"
      - "release"

# Maintenance and chores
maintenance:
  - head-branch:
      - "^chore"
      - "^maint"
      - "maintenance"
      - "cleanup"

# Refactoring
refactor:
  - head-branch:
      - "^refactor"
      - "refactor"

# Performance improvements
performance:
  - head-branch:
      - "^perf"
      - "performance"
      - "optimize"

# Main branch targeting (for releases)
release-ready:
  - base-branch:
      - "main"
      - "master"

feat: add reusable pull request labeler workflow
  .github/workflows/reusable-labeler.yml
Labels: github-actions, reusable-workflows, config

feat: add CI and Pull Request Labeler workflows
  .github/workflows/ci.yml
  .github/workflows/pr-labeler.yml
Labels: github-actions, config

feat: add example Pull Request Labeler workflow
  examples/workflows/pr-labeler-example.yml
Labels: config, examples

feat: update CI workflows and add new dependency submission examples
  .github/workflows/ci.yml
  examples/go-dependency-submission.yml
  examples/pr-labler.yml
  examples/universal-dependency-submission.yml
  examples/workflows/pr-labeler-example.yml
Labels: github-actions, config, examples

feat: add initial CI workflow configuration
  .github/workflows/ci.yml
Labels: github-actions, config

feat: implement universal dependency submission action for multi-language support
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

feat: enhance CI workflow with improved dependency submission and logging
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

feat: update CI permissions to include security events and ID token access
  .github/workflows/ci.yml
Labels: github-actions, config

feat: add language-specific dependency submission actions for Go, Java, Elixir, Scala, and component detection
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

style: update formatting and comments in reusable CI workflow
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

feat: update dependency submission process and permissions for improved CI workflow
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

feat: add repository-projects permission for dependency submission
  .github/workflows/ci.yml
Labels: github-actions, config

chore: remove complete CI/CD pipeline template
  templates/workflows/complete-ci-cd.yml
Labels: config, issue-management, examples

feat: enhance CI workflow with improved permissions and trigger settings for dependency submission
  docs/dependency-submission-and-labeling.md
Labels: documentation

feat: enhance dependency submission process with improved Docker image handling and permissions
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

feat: add additional permissions for dependency submission in CI workflow
  .github/workflows/ci.yml
  docs/dependency-submission-and-labeling.md
Labels: documentation, github-actions, config

feat(issue): support repo field
  docs/unified-issue-management.md
  scripts/create-issue-update-library.sh
  scripts/issue_manager.py
Labels: documentation, scripts, issue-management, python

feat: enhance Docker image build process with OCI annotations and improved error handling
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

chore: replace Apache License with MIT License
  LICENSE
Labels: none

feat: enhance Docker image build process with improved detection and OCI annotations
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

feat: enhance CI workflow with improved authentication options for dependency submission
  .github/workflows/reusable-ci.yml
  docs/dependency-submission-and-labeling.md
Labels: documentation, github-actions, reusable-workflows, config

feat: add CodeQL alert management functionality
  scripts/issue_manager.py
Labels: scripts, issue-management, python

refactor: clean up import statements and improve print statements for consistency
  scripts/copilot-firewall/copilot_firewall/main.py
  scripts/copilot-firewall/test_fix.py
  scripts/duplicate_cleanup.py
  scripts/label_manager.py
Labels: scripts, python

feat: implement reusable pull request labeler workflow and example
  .github/workflows/pr-labeler.yml
  .github/workflows/reusable-labeler.yml
  examples/workflows/pr-labeler-example.yml
Labels: github-actions, reusable-workflows, config, examples

refactor: improve error handling and logging in various scripts
  scripts/copilot-firewall/copilot_firewall/main.py
  scripts/copilot-firewall/pyproject.toml
  scripts/copilot-firewall/test_fix.py
  scripts/duplicate_cleanup.py
  scripts/issue_manager.py
Labels: config, scripts, issue-management, python

chore(workflow): format docs update workflow
  .github/doc-updates/.gitkeep
  .github/issue-updates/0fa3f7a8-8ff3-41ba-ae45-c83cb0dc7e23.json
  .github/workflows/reusable-docs-update.yml
  docs/documentation-updates.md
  scripts/create-doc-update.sh
  scripts/doc_update_manager.py
Labels: documentation, github-actions, reusable-workflows, config, scripts, python

chore(workflow): format docs update workflow
  .github/doc-updates/.gitkeep
  .github/issue-updates/0fa3f7a8-8ff3-41ba-ae45-c83cb0dc7e23.json
  .github/workflows/reusable-docs-update.yml
  docs/documentation-updates.md
  scripts/create-doc-update.sh
  scripts/doc_update_manager.py
Labels: documentation, github-actions, reusable-workflows, config, scripts, python

fix: update pull request labeler workflow to use correct reusable workflow path and secret name
  .github/workflows/pr-labeler.yml
Labels: github-actions, config

fix: correct output references in reusable CI workflow
  .github/workflows/reusable-ci.yml
Labels: github-actions, reusable-workflows, config

feat(ci): add reusable AI rebase workflow
  .github/issue-updates/86da4b32-0580-4485-b217-deb158a49ce0.json
  .github/issue-updates/9222befe-ecab-4253-8629-be0e69982473.json
  .github/workflows/reusable-ai-rebase.yml
  examples/workflows/ai-rebase-example.yml
  scripts/create-issue-update-library.sh
Labels: github-actions, reusable-workflows, config, scripts, examples

feat: add development environment setup and configuration
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .github/workflows/reusable-labeler.yml
  .github/workflows/reusable-sync-shared-files.yml
  .github/workflows/sync-shared-files.yml
Labels: github-actions, reusable-workflows, config, scripts

chore: remove initial sync workflow for Copilot directory
  .github/workflows/initial-sync-copilot.yml
Labels: github-actions, config

chore: remove description from sync-to-repos workflow
  .github/workflows/sync-to-repos.yml
Labels: github-actions, config

feat(ci): add reusable AI rebase workflow
  .github/issue-updates/86da4b32-0580-4485-b217-deb158a49ce0.json
  .github/issue-updates/9222befe-ecab-4253-8629-be0e69982473.json
  .github/workflows/reusable-ai-rebase.yml
  examples/workflows/ai-rebase-example.yml
  scripts/create-issue-update-library.sh
Labels: github-actions, reusable-workflows, config, scripts, examples

feat: add add-to-project workflow
  .github/workflows/add-to-project.yml
  .github/workflows/reusable-add-to-project.yml
  CHANGELOG.md
  docs/add-to-project.md
  examples/workflows/add-to-project.yml
Labels: documentation, github-actions, reusable-workflows, config, examples

feat: add add-to-project workflow
  .github/workflows/add-to-project.yml
  .github/workflows/reusable-add-to-project.yml
  CHANGELOG.md
  docs/add-to-project.md
  examples/workflows/add-to-project.yml
Labels: documentation, github-actions, reusable-workflows, config, examples

chore: update VS Code settings and extensions in devcontainer configuration
  .devcontainer/devcontainer.json
Labels: config

chore: update permissions for pull request labeler workflow
  .github/workflows/pr-labeler.yml
Labels: github-actions, config

feat: enhance reusable documentation update workflow
  .github/workflows/reusable-docs-update.yml
Labels: github-actions, reusable-workflows, config

chore: update permissions for issues in reusable labeler workflow
  .github/workflows/reusable-labeler.yml
Labels: github-actions, reusable-workflows, config
